section h2 {
  font-family: "Poppins", sans-serif;
  color: #518432;
  font-weight: 600;
  line-height: 1.5;
}

.benefit .benefit-item p, .intro p {
  color: #949494;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.pick .plant-list-item h3, .pick .plant-list-item span.org, .pick .plant-list-item span, .benefit .benefit-item h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.main-nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  transition: 1s;
}

.major {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.main-nav .icon {
  display: flex;
}

.menu, .log {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.menu {
  background-color: black;
  color: white;
}

.menu:hover {
  cursor: pointer;
}

.menu i {
  margin-right: 20px;
}

.main-nav .icon .log {
  position: relative;
  border: bottom;
  background-color: white;
}

.main-nav .icon a {
  display: block;
  color: black;
}

.main-nav .icon a i {
  margin-right: 10px;
  font-size: 20px;
}

.main-nav .icon a span::after {
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
  height: 100%;
}

.main-nav li a {
  display: inline-block;
  padding-bottom: 30px;
  color: #333;
}

.main-nav .close {
  width: 100%;
  background-color: #518432;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
}

.close label {
  display: block;
  padding: 10px 0;
  width: 100%;
}

.main-nav .close i {
  margin-right: 10px;
}

.close:hover {
  cursor: pointer;
}

.main-nav .minor {
  background-color: rgba(0, 0, 0, 0.5333333333);
  width: 20%;
  height: 100%;
}

input {
  display: none;
}

.hb {
  width: 30px;
  height: 30px;
  position: relative;
}

.hb span {
  height: 2px;
  background-color: #518432;
  position: absolute;
  left: 0;
}

.hb span:nth-child(2) {
  width: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hb span:nth-child(1) {
  top: 8px;
  width: 70%;
}

.hb span:nth-child(3) {
  bottom: 8px;
  width: 40%;
}

.logo {
  width: 135px;
}

.logo img {
  width: 100%;
}

.fn-icon {
  display: flex;
}

.fn-icon li:nth-child(2) {
  display: none;
}

.fn-icon i {
  color: #518432;
  padding: 0 5px;
}

#menu-switch:checked ~ header .main-nav {
  left: 0;
  opacity: 1;
}

.banner {
  background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-slide10.jpg?v=1585303728);
  padding: 40px 0;
  position: relative;
}
.banner .pic img {
  vertical-align: top;
  width: 100%;
}
.banner .text {
  position: absolute;
  bottom: 70px;
  left: 40px;
  margin: auto;
}
.banner .text span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: black;
  font-weight: 300;
  line-height: 1.5;
}
.banner .text span:nth-of-type(3) {
  font-size: 20px;
  padding-bottom: 25px;
}
.banner .text a {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 400;
  display: inline-block;
  padding: 15px 30px;
}

section h2 {
  font-size: 25px;
  text-align: center;
}

.intro h2 {
  font-size: 30px;
  padding: 40px 0;
}

.intro p {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 40px;
}

.benefit {
  display: flex;
  flex-direction: column;
}

.benefit .pic img {
  width: 100%;
  vertical-align: top;
}

.benefit-item:nth-of-type(1),
.benefit-item:nth-of-type(2),
.benefit-item:nth-of-type(3) {
  order: -1;
}

.benefit-item {
  margin-bottom: 40px;
}

.benefit .benefit-item h3 {
  font-size: 23px;
  margin-bottom: 10px;
}

.benefit .benefit-item p {
  font-size: 15px;
}

.pick h2 {
  padding: 20px 0;
}
.pick .plant-list-item img {
  width: 100%;
  vertical-align: top;
}
.pick .plant-list-item .text {
  text-align: center;
  padding: 18px 0;
}
.pick .plant-list-item h3 {
  margin-bottom: 15px;
}
.pick .plant-list-item span {
  display: inline-block;
  font-size: 17px;
  margin-bottom: 15px;
}
.pick .plant-list-item span.org {
  font-size: 12px;
}

.plant-list-item img:nth-of-type(2) {
  display: none;
}

.plant-list-item .fn-list {
  display: none;
}

.sold-out .pic,
.sale .pic {
  position: relative;
}

.sold-out .pic::before,
.sale .pic::before {
  background-color: #518432;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
}

.sold-out .pic::before {
  content: "SOLD OUT";
  padding: 0 10px;
  top: 40px;
  left: 0;
}

.sale .pic::before {
  content: "SALE";
  padding: 8px 12px;
  top: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.product-media {
  padding: 45px 0;
  background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-video1.jpg?v=1585532362);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
}

.product-media h2 {
  margin-bottom: 25px;
  text-align: left;
}

.product-media p {
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: 400;
}

.product-media .text a {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: #212529;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 500;
  border: 1px solid #212529;
  display: inline-block;
  padding: 15px 30px;
}

.product-media .media {
  position: relative;
}

.product-media img:first-child {
  width: 100%;
}

.product-media img:nth-child(2) {
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.insta-shop {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  align-items: center;
}

.insta-shop h2 {
  color: #333;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.insta-shop img:nth-child(2) {
  width: 45px;
  order: -1;
  padding: 15px;
}

.insta-shop .album-list {
  display: flex;
}

.insta-shop .album-item {
  width: 50%;
  padding: 15px;
}

.insta-shop .album-item img {
  vertical-align: top;
  width: 100%;
}

.insta-shop .album-item:nth-child(3),
.insta-shop .album-item:nth-child(4) {
  display: none;
}

footer {
  background-color: #f4f4f4;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo {
  margin-bottom: 40px;
  width: 160px;
}
footer .logo img {
  vertical-align: top;
  width: 100%;
}
footer .more-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
footer .more-info a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  color: #333;
  display: inline-block;
  padding: 0 10px;
}
footer .media-list {
  display: flex;
  margin-bottom: 40px;
}
footer .media-list li a {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: #222;
  border: 2px solid #333;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
  color: white;
}
footer .copyright {
  font-family: "Poppins", sans-serif;
  color: #aaa9a9;
  font-size: 12.5px;
  line-height: 1.5;
}/*# sourceMappingURL=style.css.map */