section h2 {
  font-family: "Poppins", sans-serif;
  color: #518432;
  font-weight: 600;
  line-height: 1.5;
}

.plant-bene .benefit .text .benefit-item p, .plant-bene .intro p {
  color: #949494;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.pick .plant-list-item h3, .pick .plant-list-item span.org, .pick .plant-list-item span, .plant-bene .benefit .text .benefit-item h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.banner {
  background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-slide10.jpg?v=1585303728);
  padding: 40px 0;
  position: relative;
}
.banner .pic img {
  vertical-align: top;
  width: 80%;
  margin-left: 20%;
}
.banner .text {
  position: absolute;
  bottom: 30%;
  left: 40px;
  margin: auto;
}
.banner .text span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: black;
  font-weight: 300;
  line-height: 1.5;
}
.banner .text span:nth-of-type(3) {
  font-size: 20px;
  padding-bottom: 25px;
}
.banner .text a {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 400;
  display: inline-block;
  padding: 15px 30px;
}
.banner .text a:hover {
  background-color: rgb(45, 187, 240);
  transition: 0.5s;
}

section h2 {
  font-size: 25px;
  text-align: center;
}

.plant-bene .intro {
  text-align: center;
}
.plant-bene .intro h2 {
  font-size: 30px;
  padding: 40px 0;
}
.plant-bene .intro p {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 40px;
}
.plant-bene .benefit .pic img {
  width: 100%;
  vertical-align: top;
}
.plant-bene .benefit .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.plant-bene .benefit .first {
  order: -1;
}
.plant-bene .benefit .text .benefit-item {
  margin-bottom: 40px;
}
.plant-bene .benefit .text .benefit-item h3 {
  font-size: 23px;
  margin-bottom: 10px;
}
.plant-bene .benefit .text .benefit-item p {
  font-size: 15px;
}

.pick h2 {
  padding: 20px 0;
}
.pick .plant-list-item img {
  width: 100%;
  vertical-align: top;
}
.pick .plant-list-item .text {
  text-align: center;
  padding: 18px 0;
}
.pick .plant-list-item h3 {
  margin-bottom: 15px;
}
.pick .plant-list-item span {
  display: inline-block;
  font-size: 17px;
  margin-bottom: 15px;
}
.pick .plant-list-item span.org {
  font-size: 12px;
}

.pic {
  position: relative;
}

.plant-list-item img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.plant-list-item {
  position: relative;
}

.plant-list-item .fn-list {
  display: none;
}

.sold-out .pic,
.sale .pic {
  position: relative;
}

.sold-out .pic::before,
.sale .pic::before {
  background-color: #518432;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
}

.sold-out .pic::before {
  content: "SOLD OUT";
  padding: 0 10px;
  top: 40px;
  left: 0;
  z-index: 100;
}

.sale .pic::before {
  content: "SALE";
  padding: 8px 12px;
  top: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 100;
}

.product-media {
  padding: 90px 0;
  background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-video1.jpg?v=1585532362);
  background-repeat: no-repeat;
  background-size: cover;
}
.product-media .text {
  font-family: "Poppins", sans-serif;
}
.product-media .text h2 {
  margin-bottom: 25px;
  text-align: left;
}
.product-media .text p {
  color: #212529;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: 400;
}
.product-media .text a {
  background-color: transparent;
  color: #212529;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 500;
  border: 1px solid #212529;
  display: inline-block;
  padding: 15px 30px;
  position: relative;
}
.product-media .text a::before {
  content: "";
  width: 100%;
  height: 0%;
  background-color: #518432;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.product-media .text a::after {
  content: "SHOP NOW";
  width: 100%;
  height: 100%;
  top: 15px;
  left: 30px;
  position: absolute;
  color: transparent;
  font-weight: 600;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.product-media .text a:hover::before {
  height: 100%;
  opacity: 1;
}
.product-media .text a:hover::after {
  color: white;
}
.product-media .media {
  position: relative;
}
.product-media .media img:first-child {
  vertical-align: top;
  width: 100%;
}
.product-media .media img:nth-child(2) {
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.insta-shop {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  align-items: center;
}
.insta-shop h2 {
  color: #333;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.insta-shop > img {
  width: 45px;
  order: -1;
  padding: 15px;
}

.insta-shop .album-item img {
  vertical-align: top;
  width: 100%;
}

.album-list :nth-child(3),
.album-list :nth-child(4) {
  display: none;
}

footer {
  background-color: #f4f4f4;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo {
  margin-bottom: 40px;
  width: 160px;
}
footer .logo img {
  vertical-align: top;
  width: 100%;
}
footer .more-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
footer .more-info a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  color: #333;
  display: inline-block;
  padding: 0 10px;
}
footer .media-list {
  display: flex;
  margin-bottom: 40px;
}
footer .media-list li {
  position: relative;
}
footer .media-list li a {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: #222;
  border: 2px solid #333;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
  color: white;
}
footer .copyright {
  font-family: "Poppins", sans-serif;
  color: #aaa9a9;
  font-size: 12.5px;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.main-nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  transition: 1s;
}

.logo {
  width: 135px;
}

.logo img {
  width: 100%;
}

.fn-icon {
  display: flex;
}

.fn-icon i {
  color: #518432;
  padding: 0 10px;
}

.fn-icon li:nth-child(2) {
  display: none;
}

input {
  display: none;
}

.hb {
  width: 30px;
  height: 30px;
  position: relative;
}

.hb span {
  height: 2px;
  background-color: #518432;
  position: absolute;
  left: 0;
}

.hb span:nth-child(2) {
  width: 70%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hb span:nth-child(1) {
  top: 8px;
  width: 100%;
}

.hb span:nth-child(3) {
  bottom: 8px;
  width: 40%;
}

.major {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.main-nav .icon {
  display: flex;
}

.menu, .log {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.menu {
  background-color: black;
  color: white;
}

.menu i {
  margin-right: 20px;
}

.main-nav .icon .log {
  position: relative;
  border: bottom;
  background-color: white;
}

.main-nav .icon a {
  display: block;
  color: black;
}

.main-nav .icon a i {
  margin-right: 10px;
  font-size: 20px;
}

.main-nav .icon a span::after {
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-nav ul {
  width: 100%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
  height: 100%;
}

.main-nav li a {
  display: block;
  padding-bottom: 30px;
  color: #222;
}

.main-nav .close {
  width: 100%;
  background-color: #518432;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
}

.close label {
  display: block;
  padding: 10px 0;
  width: 100%;
}

.main-nav .close i {
  margin-right: 10px;
}

label:hover {
  cursor: pointer;
}

.main-nav .minor {
  background-color: rgba(0, 0, 0, 0.5333333333);
  width: 20%;
  height: 100%;
}

.minor label {
  display: block;
  width: 100%;
  height: 100%;
}

#menu-switch:checked ~ header .main-nav {
  left: 0;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .banner .row {
    flex-direction: row-reverse;
  }
  .banner .pic img {
    width: 100%;
    margin-left: unset;
    position: relative;
    right: 10%;
  }
  .banner .text {
    position: relative;
    left: 10%;
  }

  .plant-bene .intro h2 {
    font-size: 30px;
  }
  .plant-bene .benefit .first {
    order: 0;
  }

  .pick h2 {
    font-size: 35px;
  }
  .pick .pic > a::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  .pick .pic:hover a img:last-child {
    display: block;
    transition: 1s;
  }
  .pick .pic:hover > ::before {
    z-index: 5;
    background-color: rgba(242, 242, 242, 0.5);
    transition: 0.5s;
  }
  .pick .pic:hover .fn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 8;
  }
  .pick .pic:hover .fn-list .fn-icon {
    margin: 0 10px;
  }
  .pick .pic:hover .fn-list .fn-icon a {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
  }
  .pick .pic:hover .fn-list .fn-icon a i {
    padding: unset;
    font-size: 20px;
  }
  .pick .pic:hover .fn-list .fn-icon:hover a {
    background-color: #518432;
    transition: 0.5s;
  }
  .pick .pic:hover .fn-list .fn-icon:hover a i {
    color: white;
    transition: 0.5s;
  }

  .product-media .row {
    align-items: center;
  }
  .product-media h2 {
    font-size: 30px;
  }
  .product-media .col-md-6 {
    margin-bottom: unset;
  }

  .insta-shop h2 {
    font-size: 30px;
  }
  .insta-shop li {
    position: relative;
  }
  .insta-shop a::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5333333333);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .insta-shop a:hover::before {
    transition: 0.5s;
    opacity: 1;
  }

  .insta-shop .album-list :nth-child(3) {
    display: block;
  }

  footer .more-info a + a::before {
    content: "";
    height: 1px;
    width: 20px;
    background-color: #212529;
    display: inline-block;
    position: relative;
    left: -10px;
    top: -4px;
  }
  footer .media-list li:hover a {
    background-color: #518432;
    transition: 1s;
  }
}
@media screen and (min-width: 992px) {
  .banner .text span {
    font-size: 60px;
  }
  .banner .text:nth-of-type(3) {
    font-size: 60px;
  }

  .plant-bene .intro h2 {
    font-size: 35px;
  }
  .plant-bene .benefit .pic {
    align-self: center;
  }
  .plant-bene .benefit .first {
    order: -1;
    text-align: right;
  }

  .pick h2 {
    font-size: 40px;
  }

  .product-media h2 {
    font-size: 35px;
  }
  .product-media .text {
    width: 80%;
    margin-left: 15%;
  }

  .insta-shop .album-list :nth-child(4) {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  header {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top: 0;
  }
  header .main-nav {
    width: 35%;
    position: unset;
    opacity: 1;
  }
  header .main-nav .major .icon,
header .main-nav .major .close {
    width: 0;
    display: none;
  }
  header .main-nav .major ul {
    background-color: unset;
    padding: unset;
    display: flex;
    align-items: center;
  }
  header .main-nav .major ul li {
    padding: 0 12px;
    font-size: 15px;
    position: relative;
  }
  header .main-nav .major ul li a {
    padding-bottom: 0;
  }
  header .main-nav .major ul li:nth-child(3)::before,
header .main-nav .major ul li:nth-child(5)::before {
    content: "NEW";
    background-color: rgb(45, 187, 240);
    display: inline-block;
    font-size: 12px;
    color: white;
    padding: 1px 8px;
    position: absolute;
    top: -20px;
    right: -5px;
  }
  header .main-nav .major ul li:nth-child(3)::after,
header .main-nav .major ul li:nth-child(5)::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 5px 12px 0 1px;
    border-color: rgb(45, 187, 240) transparent transparent transparent;
    right: 15px;
    top: -6px;
  }
  header .main-nav .minor {
    display: none;
  }
  header .hb {
    display: none;
  }
  header .fn-icon {
    width: 35%;
    justify-content: flex-end;
  }
  header .fn-icon li:nth-child(2) {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */