h1{
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.intro{
    width: 1150px;
    padding: 90px 25px;
    margin: auto;
}
h2,h3,h4,p,li{
    line-height: 1.5;
}

.intro-title{
    text-align: center;
}
.intro-title h2{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 30px;
}
.intro-title p{
    font-size: 17px;
}
.info{
    width: 1100px;
    display: flex;
    margin: 100px 40px;
    align-items: center;
}
.info .major-pic{
    width: 50%;
}
.info .major-pic img{
    width: 100%;
}
.info .content{
    width: 50%;
}
.info:nth-child(odd){
    flex-direction: row-reverse;
}
.info .content h3{
    font-size: 35px;
    font-weight: 900;
    margin: 50px 0;
}
.info .content p{
    font-size: 17px;
    margin: 30px 0;
}
.info .content .item-list{
    display: flex;
    flex-wrap: wrap;
}
.info .content .item-list .item{
    width: 50%;
    font-size: 16px;
    margin: 8px 0;
}
.item img{
    width: 17px;
    padding-right: 8px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.info .content a{
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    margin-top: 30px;
    color: #0061FF;
}
.wrap{
    background-color: #F4F5F7;
}
.more{
    width: 1150px;
    padding: 70px 25px;
    margin: auto;
}
.more h3{
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}
.more .service-list{
    display: flex;
    flex-wrap: wrap;
}
.more .service-list .service{
    width: 33.3%;
    padding: 20px;
    border: 20px solid transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more .service-list .service .icon{
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more .service .icon img{
    width: 71px;
}
.more .service h4{
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 0;
}
.more .service p{
    font-size: 15px;
    padding: 0 8px;
}